*{
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-image: url(./backgroundimgjustic.jpeg);
}

.links ul a {
    font-size: 18px;
  }
  
  nav {
    font-family: monospace;
    /* no longer  need img background since it is applied to body */
    /* background-image: url(images/backgroundimgjustic.jpeg); */
    background-color: rgb(209, 221, 229, 0.667);
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 115px;
  }
  
  li {
    unicode-bidi: isolate;
  }
  
  .logo img {
    /* padding-right: 10px; */
    position: absolute;
    width: auto;
    height: 300px;
  }
  
  @media screen and (max-width: 1100px) {
    .logo img {
      height: 250px;
    }
  
    .links li a {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 900px) {
    nav {
      height: 140px;
    }
  
    .logo img {
      height: 250px;
    }
  
    .links ul {
      flex-direction: column;
    }
  
    .links li a {
      font-size: 14px;
      padding: 0;
      margin-top: 5px;
      margin-right: 50px;
    }
  }
  
  .logo {
    display: flex;
    align-items: center;
    padding: 0px 60px;
  
    color: lightblue;
  }
  
  nav ul {
    float: right;
    /* margin-right: 20px; */
    display: flex;
    justify-content: end;
  }
  nav ul li {
    display: inline-block;
    /* line-height: 80px; */
    text-align: center;
    margin: 0px 5px;
  }
  
  nav ul li a {
    padding: 7px 13px;
    text-decoration: none;
    border-radius: 3px;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  ul li a:hover {
    background: #38b6ff;
    color: white;
    transition: 0.5s;
  }

/* main */
main{
    background-image: url(./backgroundimgjustic.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.contactUs-container {
    max-width: 850px;
    width: 100%; 
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 40px; 
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

h1, h2 {
    color: black;
    margin-bottom: 15px;
}

.contact-us{
    font-size: 40px;
}

p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input, .contact-form textarea {
    padding: 15px; 
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    font-size: 18px; 
    width: 100%; 
}

.contact-form textarea {
    resize: vertical;
    height: 150px; 
}

.contact-form button {
    padding: 15px 25px; 
    background-color: rgb(83, 129, 147);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px; 
    /* cursor: pointer; */
    transition: 1s;
}

.contact-form button:hover {
    background-color: rgb(55, 87, 99);
}

.contact-details{
    margin-bottom: 20px;
}

.contact-details a {
    color: #3498db;
    text-decoration: none;
}

.contact-form button.disabled {
    pointer-events: none;
    background-color: #87949d;
}

@media (max-width: 375px) {
  .contactUs-container {
    max-width: 90%;
    padding: 15px;
    margin: 20px auto;
  }
  .contact-us {
    font-size: 24px;
  }
  .contact-form input, .contact-form textarea {
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 767px) {
  .contactUs-container {
    max-width: 600px;
    padding: 20px;
    margin: 20px auto;
  }
  .contact-us {
    font-size: 30px;
  }
  .contact-form input, .contact-form textarea {
    font-size: 16px;
    padding: 12px;
  }

  .contact-form button {
    font-size: 16px;
    padding: 12px 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contactUs-container {
    max-width: 700px;
    padding: 40px;
    margin: 20px auto;
  }
  .contact-us {
    font-size: 30px;
  }
  .contact-form input, .contact-form textarea {
    font-size: 16px;
    padding: 12px;
  }

  .contact-form button {
    font-size: 16px;
    padding: 12px 20px;
  }
}

@media (min-width: 1024px) {
  .contactUs-container{
    max-width: 900px;
    margin: 0 auto;
  }
}

/* footer */

footer {
    background-color: rgb(209, 221, 229, 0.667);
  }
  .footerContainer {
    width: 100%;
    height: 80%;
  }
  .socialIcons {
    display: flex;
    justify-content: center;
  }
  
  .socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: whitesmoke;
    margin: 10px;
    border-radius: 50%;
  }
  
  .socialIcons a i {
    font-size: 2em;
    color: #38b6ff;
    opacity: 0.9;
  }
  
  .socialIcons a:hover i {
    color: black;
    transition: 0.5s;
  }
  
  .footerNav {
    margin: 30px 0px;
  }
  
  .footerNav ul {
    display: flex;
    justify-content: center;
  }
  
  .footerNav ul li a {
    color: black;
    font-size: 25px;
    margin: 20px;
    text-decoration: none;
    opacity: 0.7;
    transition: 0.5s;
  }
  
  .footerNav li {
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  
  .footerNav ul li a:hover {
    opacity: 1;
    color: white;
    background-color: #38b6ff;
    border-radius: 3px;
  }
  
  .footerBottom {
    text-align: center;
  }
  
  .footerBottom p {
    color: black;
    background-color: rgb(209, 221, 229, 0.667);
    border-color: lightblue;
  }
  
  .designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 10px;
  }
  
  @media (max-width: 1147px) {
    .top_body {
      flex-direction: column;
    }
  
    nav ul li {
      /*display: block;*/
      display: flex;
      flex-direction: column;
    }
  
    #services {
      display: flex;
      flex-direction: column;
    }
  
    .footerNav {
      text-align: center;
    }
  
    .footerNav ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }
  }